.idea
node_modules
client/.dsbm
package-lock.json
server/src/uploaded
client/project1.zip
client/project1/
server/src/log.txt
server/src/personal.json
server/src/client.js
client/static/
client/templates/
.idea
example_project
project1/
client/client.zip
