/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #bbd;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

.navbar {
  margin-bottom: 0px;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  margin-bottom: 60px;
  padding: 60px 15px 0;
}
.site-wrapper-inner {
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}
.navbar-static-top {
  top: 0;
  border-width: 0 0 1px;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    /*width: 900px;*/
    padding-right: 30px;
    padding-left: 30px;
  }
}

/*
* Panel
*/

.row{
  margin-right: -15px;
  margin-left: -15px;
}

.panel-profile{
  border:none;
  margin-bottom:0;
  box-shadow:none;
  background-color: #333;
  border: 1px solid #fff;
}

.panel-profile .no-bg
{
  background: inherit;
}

.profile .panel-heading
{
  border: 1px solid #fff;
}

.profile .panel-heading.overflow-h i.pull-right
{
  top:7px;
  position:relative;
}

.btn-u
{
  border: 1px solid #fff;
  padding-left: 3px;
  padding-right: 3px;
}

/*
* blcok
*/

.mCSB_container {
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  width: auto;
  height: auto;
}

.profile-event
{
  padding: 10px 15px;
  margin-bottom: 2px;
  border: 1px solid #fff;
}

.profile-event .block-profile
{
  width: 135px;
  height: 65px;
  float: left;
  text-align: center;
  margin: 2px 13px 0 0;
  padding: 7px 10px 4px;
  border: 1px solid #fff;
}
/* 
.block-detail-shortcut a,
a:focus,
a:hover {
  color: rgb(48, 142, 219);
} */

/* Transaction */
.profile-post
{
  margin-bottom: 2px;
  padding: 7px 7px 7px 0;
  border: 1px solid #fff;
}

.profile-post .txn-left
{
  height: 65px;
  float: left;
  vertical-align: bottom;
  margin: 2px 13px 0 0;
  padding: 7px 10px 4px;
}

.profile-post .txn-profile {
  text-align: center;
}

.hash-tag-frontpage {
  overflow: hidden;
  /* width: 300px; */
  vertical-align: bottom;
}

.address-tag {
  /* width: 300px; */
  overflow: hidden; 

}

h3.heading-xs {
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 1px;
}

/* ScrollBar */
.scroll-pane
{
	width: 100%;
	height: 650px;
	overflow: auto;
}
.vertical-only
{
	height: auto;
	max-height: 650px;
}

/* Tabel */
.table
{
  text-align: left;
}

/* Form */
.form_post
{
  text-align: left;
}

.form_post .form_group
{
  margin-bottom: 10px;
}

.form_post .form-control
{
  background-color: #333;
  color: #bbd;
}

/* menu */
.dropdown-menu>li>a{
  color: #fff;
}
.open>.dropdown-menu
{
  background-color: #333;
}

.dropdown-menu
{
  border: 1px solid #fff;
}

.dropdown-menu>li>a:hover {
  background-color: #333;
  color: #fff;
}

/* piazza */
.row-left
{
  margin-top: 2px;
  margin-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}

.row-right
{
  margin-top: 3px;
  padding-left: 0px;
}

.sidebar-row
{
  border: 1px solid #fff;
}

.btn-default, .btn-default:hover, .btn-default:focus {
  color: #333;
  text-shadow: none;
  background-color: #bbd;
  border: 1px solid #fff;
}

/* The sidebar menu */
.sidenav {
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px;
  border: 1px solid #fff;
}

.question-shortcut
{
  border: 1px solid #fff;
  margin-top: 5px;
}

.question-shortcut .panel-heading
{
  text-align: left;
}

.question-shortcut .panel-body
{
  text-align: left;
  border-top: 1px solid #fff;
}
