<div class = "row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <% if (success) { %>
            <div class="notification">
                <p class="success"><%= success %></p>
            </div>
        <% } %>
        <% if (error) { %>
            <div class="notification">
                <p class="error"><%= error %></p>
            </div>
        <% } %>
    </div>
</div>
