<div class="profile-post">
    <div class="txn-left">
        <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
    </div>
    <div class="txn-profile">
        <div class="hash-tag-frontpage">
            <h3 class="heading-xs" style="width: 85%; height: 1.2em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                TX# <a href="#"><%= txn.hash %></a>
            </h3>
        </div>
        <div class="address-tag">
            <h3 class="heading-xs" style="float: left; width: 35%; height: 1.2em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"> 
                From <a href="#"><%= txn.from %></a> </h3>
            <h3 class="heading-xs" style="float: left; width: 35%; height: 1.2em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"> 
                To <a href="#" ><%= txn.to %></a>
            </h3>
        </div>
        <div>
            <h3 class="heading-xs" style="width: 100px; height: 1.2em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Amount 0.9Eth</h3>
        </div>
    </div>
</div>