<%- include('header') %>

<div class="inner cover">
  <div class = "row">
    <div class = "col-md-6">
      <div class = "panel panel-profile no-bg">
        <div class="panel-heading">
          <h2 class = "panel-title heading-sm pull-left">
            <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
            Blocks
          </h2>
          <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-xs pull-right">View All</a>
        </div>
        <div class="panel-body">
          <div class="mCSB_container scroll-pane">
              <% blocks.forEach(function (block) { %>
                <%- include('components/block', { block: block }) %>
              <% }) %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class = "panel panel-profile no-bg">
        <div class="panel-heading">
          <h2 class = "panel-title heading-sm pull-left">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            Transactions
          </h2>
          <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-xs pull-right">View All</a>
        </div>
        <div class="panel-body">
            <div class="mCSB_container scroll-pane">
                <% txns.forEach(function (txn) { %>
                  <%- include('components/txn', { txn: txn }) %>
                <% }) %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('footer') %>