<%- include('header') %>

<div class="inner cover">
    <div class="row">
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">Piazza</h1>
                <ol class="pull-right breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">Piazza</li>
                </ol>
            </div>
        </div>
    </div>
    <div class = "row" style="margin-top: 20px">
        <div class="col-md-4 sidenav">
            <div class="row sidebar-row">
                <div class="col-md-5 row-left">
                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
                        <a href="/piazza/create"><strong style="color:#333;">New Post</strong></a>
                    </button>
                </div>
                <div class="col-md-7 row-right">
                    <div class="search-bar">
                        <input type = "text" name = "search" id = "search" placeholder=" search a post.....">
                    </div>
                </div>    
            </div>
            <div class="questions piazza-a scroll-pane">
                <% questions.forEach(function(question){ %>
                    <%- include('components/question-content', {question: question}) %>
                <% }) %>
            </div>
        </div>
        <div class="col-md-8" id="piazza-main">
            <%- include('components/default-post') %>
        </div>
    </div>
</div>

<%- include('footer-web3') %>
